 .split-container {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0;
}

 .banner-list {
    display: flex;
    width: 100%;
    height: auto;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.scrollbox {
    background-color: bisque;
    width: 100%;
    height: auto;
    overflow-y: auto;
}

/* Scrollbar Styles */
.scrollbox::-webkit-scrollbar {
    width: 12px;
}

.scrollbox::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 8px;
}

.scrollbox::-webkit-scrollbar-thumb {
    background: #0f9d58;
    border-radius: 8px;
}

.scrollbox::-webkit-scrollbar-thumb:hover {
    background: #0b8043;
}

/* For Firefox */
.scrollbox {
    scrollbar-width: thin;
    scrollbar-color: #0f9d58 #f1f1f1;
}

.split-left,
.split-right {
    flex: 1;
    overflow: hidden;
    text-align: center;
    /* transition: all 0.3s; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 5px; */
}

.split-left {
    background-color: rgb(28, 20, 64);
    color: #ffffff;
    /* border: 2px solid rgb(95, 156, 180); */
}

.split-right {
    background-color: red;
    color: #333333;
    /* border: 2px solid grey; */
}

.banner-left,
.banner-right {
    flex: .5;
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    color: blueviolet;
}

img {
    width: 100%;
    height: 100%;
}

/* 

potential fix for mobile layout:
https://www.w3schools.com/cssref/atrule_media.php 

*/