
.split-container {
    display: flex;
    width: 100%;
    height: 95%;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.split-left,
.split-right {
    flex: 1;
    overflow: hidden;
    text-align: center;
    transition: all 0.3s;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.split-left {
    background-color: #3b3a41;
    color: #ffffff;
    /* border: 2px solid rgb(95, 156, 180); */
}

.split-right {
    background-color: #f6f7fa;
    color: #333333;
    /* border: 2px solid grey; */
}

.banner-left,
.banner-right {
    flex: .5;
    overflow: hidden;
    text-align: center;
    transition: all 0.3s;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

img {
    width: 100%;
    height: 100%;
}